
<html>
<head>
<title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
.team-header h3
{
	text-align:center;
	padding:20px;
	font-size:45px;
  color:white;
}
.details
{
  color:#A9A9A9;
}

</style>

<body>

<header>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span>MysuruRentals</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/ohome">Home</a></li>
      <li><a href="/addpg">Add PG</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="/oprofile"> Hello, <%= details.first_name %>  </a></li>
    </ul>

  </div>
</nav>
</header>

<div class="carousel slide slider " data-ride="carousel">
	<!-- Wrapper for slides -->
		<div class="carousel-inner " role="listbox">
		<div class="item active ">

        <img src="night2.jpg" alt="New York">
		<div class="carousel-caption" id="searchbox">
 <form id="myCarousel">
 <input type="text" name="search" placeholder="Search..">
</form>
</div>
		<div class="carousel-caption">
          <h3 id="caption">MysuruRentals.com</h3>
          <p>Discover a PG that defines a new dimension of luxury.</p>
        </div>
		</div>
		</div>
</div>
<br>
<div class="team-header">
     <h3>FIND YOUR PG</h3>
   </div>

<% var i;
   for(i=0;i<pgdetails.length;i++) {
   if(i%3==0)
   { %>
     <section id="team">

        <div class="container">
     	<div class="row">
<% } %>

    <div class="col-lg-4 box">
    <a href="/description/<%=pgdetails[i].id%>" id="link">
    <div class="card" id="card">
     <img class="card-img-top" src="p<%=pgdetails[i].id%>.jpeg" width="20px" height="200px" alt="Card image" style="width:100%">
      <div class="card-body" id="desc">
        <h4 class="card-title details"><%= pgdetails[i].name %></h4>
        <h4 class="card-title details"><%= pgdetails[i].address %></h4>
        <p class="card-text details"><%= pgdetails[i].details %></p>
    </div>
    </div>
    </a>
    </div>
<% if(i%3==2) { %>
    </div>
    </section>
<% } %>

<% } %>





	<!-- <div class="col-lg-4 box">
	<a href="#" id="link">
	<div class="card" id="card">
		<img class="card-img-top" src="pic1.jpg" width="20px" height="200px" style="width:100%">
	<div class="card-body" id="desc">
      <h4 class="card-title">home address</h4>
      <p class="card-text">3 bedroom 1hall 1 bathroom 1kitchen</p>
    </div>
	</div>
	</a>
	</div>

	<div class="col-lg-4 box">
	<div class="card" id="card">
	<a href="#" id="link">
    <img class="card-img-top" src="pic1.jpg" width="20px" height="200px" style="width:100%">
    <div class="card-body" id="desc">
      <h4 class="card-title">home address</h4>
      <p class="card-text">3 bedroom 1hall 1 bathroom 1kitchen and some extra accesories</p>
    </div>
	</div>
	</a>
	</div>



<section id="team">
   <div class="container">
	<div class="row">

	<div class="col-lg-4 box">
	<a href="#" id="link">
	<div class="card" id="card">
		<img class="card-img-top" src="pic1.jpg" width="20px" height="200px" alt="Card image" style="width:100%">
    <div class="card-body" id="desc">
      <h4 class="card-title">home address</h4>
      <p class="card-text">3 bedroom 1hall 1 bathroom 1kitchen</p>
	</div>
	</div>
	</a>
	</div>

	<div class="col-lg-4 box">
	<a href="#" id="link">
	<div class="card" id="card">
		<img class="card-img-top" src="pic1.jpg" width="20px" height="200px" style="width:100%">
	<div class="card-body" id="desc">
      <h4 class="card-title">home address</h4>
      <p class="card-text">3 bedroom 1hall 1 bathroom 1kitchen</p>
    </div>
	</div>
	</a>
	</div>

	<div class="col-lg-4 box">
	<a href="#" id="link">
	<div class="card" id="card">
    <img class="card-img-top" src="pic1.jpg" width="20px" height="200px" style="width:100%">
    <div class="card-body" id="desc">
      <h4 class="card-title">home address</h4>
      <p class="card-text">3 bedroom 1hall 1 bathroom 1kitchen and some extra accesories</p>
    </div>
	</div>
	</a>
	</div>

   </div>
</section>

<section id="team">
   <div class="container">
	<div class="row">

	<div class="col-lg-4 box">
	<a href="#" id="link">
	<div class="card" id="card">
		<img class="card-img-top" src="pic1.jpg" width="20px" height="200px" alt="Card image" style="width:100%">
    <div class="card-body" id="desc">
      <h4 class="card-title">home address</h4>
      <p class="card-text">3 bedroom 1hall 1 bathroom 1kitchen</p>
	</div>
	</div>
	</a>
	</div>

	<div class="col-lg-4 box">
	<a href="#" id="link">
	<div class="card" id="card">
		<img class="card-img-top" src="pic1.jpg" width="20px" height="200px" style="width:100%">
	<div class="card-body" id="desc">
      <h4 class="card-title">home address</h4>
      <p class="card-text">3 bedroom 1hall 1 bathroom 1kitchen</p>
    </div>
	</div>
	</a>
	</div>

	<div class="col-lg-4 box">
	<a href="#" id="link">
	<div class="card" id="card">
    <img class="card-img-top" src="pic1.jpg" width="20px" height="200px" style="width:100%">
    <div class="card-body" id="desc">
      <h4 class="card-title">home address</h4>
      <p class="card-text">3 bedroom 1hall 1 bathroom 1kitchen and some extra accesories</p>
    </div>
	</div>
	</a>
	</div>

   </div>
</section> -->


<!-- <div class="center">
  <div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div>
</div> -->


</body>
<html>
