
<html>
<head>
<title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
	.navbar-brand
{
  font-size:35px;
  border-right:2px solid white;
}
.profile-header h3
{
	text-align:center;
	padding:40px;
	font-size:45px;
  color:#A9A9A9;
}
.image
{
max-width:auto;
height:250px;
}
.form-group
{
  color:#A9A9A9;
}
.profil-header
{
  color:#A9A9A9;
}
</style>
<body>
	<header>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span style="color:white">Mysuru</span>Rentals</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <li><a href="#featured-service">Features</a></li>
      <li><a href="#">About Us</a></li>
	  <li><a href="#team">Team</a></li>
	  <li><a href="#contact">Contact</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="/logout">Logout</a></li>
    </ul>

  </div>
</nav>
</header>
<section>
	<div class="profile-header">
          <h3>Profile</h3>
        </div>
	</div>
	<div class="container">
	<div class="row">

		<div class="col-md-12">
		 <div class="profil-header">
          <h3>Personal Information</h3>
        </div>
		<hr>

		 <form action="/profile1" method="post">
		<div class="form-group">
		<label for="name">First Name:</label>
		<input type="textarea" class="form-control" id="name" name="first_name" value="<%= details.first_name %>" >
		</div>
    <div class="form-group">
		<label for="name">Last Name:</label>
		<input type="textarea" class="form-control" id="name" name="last_name" value="<%= details.last_name %>" >
		</div>
		<div class="form-group">
		<label for="email">Email:</label>
		<input type="email" class="form-control" id="email" name="email" value="<%= details.email %>">
		</div>
		<div class="form-group">
		<label for="tel">Contact Number:</label>
		<input type="tel" class="form-control" id="tel" name="contact" value="<%= details.contact %>">
		</div>
		<div class="form-group">
		<label for="birth">Age</label>
		<input type="tel" class="form-control" id="birth" name="age" value="<%= details.age %>">
    </div>
		<div class="form-group">
		<label for="city">City/District:</label>
		<input type="textarea" class="form-control" id="city" name="city" value="">
		</div>
		<div class="form-group">
		<label for="state">State:</label>
		<input type="textarea" class="form-control" id="state" name="state" value="">
		</div>
		<button class="btn btn-primary" type="submit">Update</button>
		<button class="btn btn-primary" onclick="location.href='/home';" value="" >Cancel</button>
</form>
		</div>
	</div>
	</div>
</section>

</body>
<html>
